@font-face {
    font-family: regular; 
    src: url(../font/regular.ttf);
    
}
@font-face {
    font-family: roboto; 
    src: url(../font/roboto.ttf);
    
}
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{flex: 1;}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.header-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.header-dropdown:hover .dropdown-content {
    display: block;
}

.header-dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.logo{
    
    text-align: center;
    padding-top: 20px;
    font-size: 96px;
    font-family: regular;
    /* padding-left: 100px; */
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1em;
}
.nav .links{
    margin-left: 130px;
    display: flex;
    font-family: roboto;
    font-size: 32px;
    gap: 13rem;
   
}
.nav 
{
    margin-top: 90px ;
}
.image_section{
    /* width: 1259px; */
    height: 300px;
    background-image: url('../images/image7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
.search-bar{
    width: 50%;
    /* max-width: 700px; */
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 20px 20px;
}
.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 30px;
    color: black;
}
.search-bar button svg {
    width: 25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #c6c5c3;
    cursor: pointer;
}
.gallery {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.room_item {
    /* width: calc(33.33% - 20px);  */
    width: 30%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.room_item img {
    width: 100%;
    height: 300px;
    /* max-width: 100%; */
    border-radius: 8px;
    margin-bottom: 5px;
}

.room_item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.room_item p {
    margin-bottom: 5px;
}
.footer {
    background-color: #f2f2f2;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer .footer-links,
.footer .footer-social,
.footer .footer-contact {
    flex: 1;
    margin-right: 20px;
}

.footer .footer-contact {
    margin-right: 0;
}

.footer p {
    margin-top: 10px;
    color: #666;
}

.footer .footer-social li {
    display: inline-block;
    margin-right: 10px;
}

.footer .footer-social i {
    font-size: 24px;
    color: #333;
}
